{{#l-default-page}}
    <h1>EMBER PROJECT TEMPLATE</h1>
    <h2>Welcome to movento's ember-project-template!</h2>

    <h3>Styleguide</h3>
    <p>Take a look to our {{#link-to 'styleguide'}}styleguide{{/link-to}}</p>

    <h3>Error 404 Page</h3>
    <p>There is already a 404 Error page <a href="this-is-not-an-existing-route">here</a></p>

    {{outlet}}
{{/l-default-page}}