{{#l-styleguide-page}}
<div class="container-fluid">
  <div class="col-md-3">
    {{g-nav-views title="Menu"}}
  </div>
  <div class="col-md-9">
    <h1>Ember Sandbox Views</h1>
    {{outlet}}
  </div>
</div>
{{/l-styleguide-page}}