<h1>Manually maintained style-guide</h1>
<h2>c-button</h2>
{{c-button title="Example Button"}}

<h2>c-product-tile</h2>
{{c-product-tile
    title="Cavendish bananas"
    image="https://upload.wikimedia.org/wikipedia/commons/4/44/Bananas_white_background_DS.jpg"
    description="Cavendish bananas are the most common dessert bananas sold."
    rating=4.5
    price=2.49
    unit="kg"
}}

{{outlet}}
