$e-input-checkbox-border: 2px solid $color-gray-white;
$e-input-checkbox-size: 1em;
$e-input-checkbox-shadow: 0 0 0 2px $color-gray-light;

.e-input-checkbox {
  @include e-form-base;

  display: none;

  &--state-default:checked + .e-input-checkbox__fake-checkbox {
    background: $color-primary-dark;
  }

  &--state-success:checked + .e-input-checkbox__fake-checkbox {
    background: $color-status-success;
  }

  &--state-warning:checked + .e-input-checkbox__fake-checkbox {
    background: $color-status-warning;
  }

  &--state-error:checked + .e-input-checkbox__fake-checkbox {
    background: $color-status-failed;
  }

  &[disabled] + .e-input-checkbox__fake-checkbox {
    cursor: default;
  }

  &[disabled]:checked + .e-input-checkbox__fake-checkbox {
    background: $color-gray-dark;
  }
}

.e-input-checkbox__fake-checkbox {
  box-shadow: $e-input-checkbox-shadow;
  position: relative;
  display: inline-block;
  content: '';
  vertical-align: middle;
  border: $e-input-checkbox-border;
  background: $color-gray-white;
  width: $e-input-checkbox-size;
  height: $e-input-checkbox-size;
  cursor: pointer;
}
