$e-input-checkbox-border: 2px solid $color-gray-white;
$e-input-checkbox-size: 1em;

@mixin e-input-checkbox-shadow ($border-size, $color, $value: 0 0 0) {
  -webkit-box-shadow: $value $border-size $color;
  -moz-box-shadow: $value $border-size $color;
  box-shadow: $value $border-size $color;
}

.e-input-checkbox {
  @include e-form-component-class;
  display: none;

  &--state-default:checked + .e-input-checkbox__fake-checkbox {
    background: $color-primary-dark;
  }

  &--state-success:checked + .e-input-checkbox__fake-checkbox {
    background: $color-status-success;
  }

  &--state-warning:checked + .e-input-checkbox__fake-checkbox {
    background: $color-status-warning;
  }

  &--state-error:checked + .e-input-checkbox__fake-checkbox {
    background: $color-status-failed;
  }

  &[disabled] + .e-input-checkbox__fake-checkbox {
    cursor: default;
  }

  &[disabled]:checked + .e-input-checkbox__fake-checkbox {
    background: $color-gray-dark;
  }
}

.e-input-checkbox__fake-checkbox {
  @include e-input-checkbox-shadow(2px, $color-gray-light);
  position: relative;
  display: inline-block;
  content: '';
  vertical-align: middle;
  border: $e-input-checkbox-border;
  background: $color-gray-white;
  width: $e-input-checkbox-size;
  height: $e-input-checkbox-size;
  cursor: pointer;
}
