{{input
  type="checkbox"
  autofocus=autofocus
  click=(action "onCheckboxClick" checked)
  checked=checked
  class=computedClassName
  disabled=disabled
  id=id
  name=name
  readonly=readonly
  required=required
  tabindex=tabindex
  title=title
}}
<span class="{{bemBlockName}}__fake-checkbox"></span>
