{{input
  type="checkbox"
  click=(action "onCheckboxClick" checked)
  class=computedClassName
  id=id
  name=name
  checked=checked
  disabled=disabled
  required=required
  autofocus=autofocus
}}
<span class="{{bemBlockName}}__fake-checkbox"></span>
