// BEGIN-FREESTYLE-USAGE colors
$color-primary-dark: #9FC204;
$color-primary-light: #54666F;
$color-status-success: #8DC63F;
$color-status-failed: #C60651;
$color-status-warning: #FFA500;
$color-gray-black: #000000;
$color-gray-dark: #444E58;
$color-gray-light: #B1B3B6;
$color-gray-white: #FFFFFF;
$color-gray-white-opacity-heavy: rgba($color-gray-white, 0.75);
$color-gray-white-opacity-light: rgba($color-gray-white, 0.3);
// END-FREESTYLE-USAGE
