$e-form-base-border-radius: 0.15em;

@mixin e-form-base($padding: 0 5px) {
  border: 2px solid $color-gray-light;
  border-radius: $e-form-base-border-radius;
  box-sizing: border-box;
  color: $color-gray-dark;
  background-color: $color-gray-white-opacity-light;
  padding: $padding;
  vertical-align: middle;
  line-height: 1em;

  &:focus,
  &.focus {
    outline: 0;
    background-color: $color-gray-white-opacity-heavy;
  }

  &[disabled] {
    color: $color-gray-dark;
    cursor: default;
  }

}
