.e-textarea {
  @include e-form-base($padding: 5px);

  width: 100%;
  max-width: 100%;
}

.e-textarea--state-success {
  background-color: $color-gray-white-opacity-heavy;
  border-color: $color-status-success;
}

.e-textarea--state-warning {
  background-color: $color-gray-white-opacity-heavy;
  border-color: $color-status-warning;
}

.e-textarea--state-error {
  background-color: $color-gray-white-opacity-heavy;
  border-color: $color-status-failed;
}
