{{! template-lint-disable }}
<!-- disable all rules -->
{{#freestyle-subsection name='l-layout' section=section}}

  {{#freestyle-annotation}}
    <h2>Definition</h2>
    <p>Layouts are build by simple ember components. They are used to wrap content inside route templates.</p>
    <p>Standard layout is until 1600px fluid and fixed on a max-viewport of 1600px, footer is standard sticky.</p>
  {{/freestyle-annotation}}

  {{#freestyle-usage 'l-default' title='l-default' usageTitle=l-default}}
    {{#l-default}}
      {{outlet}}
    {{/l-default}}
  {{/freestyle-usage}}

  {{#freestyle-usage 'l-styleguide' title='l-styleguide' usageTitle=l-styleguide}}
    {{#l-styleguide}}
      {{outlet}}
    {{/l-styleguide}}
  {{/freestyle-usage}}

{{/freestyle-subsection}}