{{! template-lint-disable }}
<!-- disable all rules -->
{{#section.subsection name='c-main-header'}}

  {{#freestyle-annotation}}
    <p>Standard Header</p>
    <h4>Attributes</h4>
    <dl>
      <dt><code>title</code> (String)</dt>
      <dd>title in the header</dd>
    </dl>
  {{/freestyle-annotation}}

  {{#freestyle-usage 'c-main-header' title='Default'}}
    {{c-main-header
      title="Example-title-header"
    }}
  {{/freestyle-usage}}

{{/section.subsection}}