$FreestyleUsage-maxWidth: 100%;

.FreestyleGuide {
  .FreestyleGuide-content {
    max-width: 100%;
  }
}

div.FreestyleUsage-title {
  color: $color-gray-dark;
  font-weight: normal;
}

div.FreestyleGuide.ember-view{
  min-width: initial;
}

.FreestyleGuide>main.FreestyleGuide-body {
  background-color: transparent;
}

body.route--styleguide {
  background-color: $color-gray-white;
}
