{{! template-lint-disable }}
<!-- disable all rules -->
{{#section.subsection name='e-horizontal-ruler'}}

  {{#freestyle-annotation}}
    <p>The <code>e-horizontal-ruler</code> component is the horizontal-ruler component.</p>
  {{/freestyle-annotation}}

  {{#freestyle-usage 'e-horizontal-ruler' title='E-horizontal-ruler' usageTitle=labels.usage.title}}
    {{e-horizontal-ruler}}
  {{/freestyle-usage}}

{{/section.subsection}}