{{! template-lint-disable }}
<!-- disable all rules -->
{{#freestyle-subsection name='e-horizontal-ruler' section=section}}

  {{#freestyle-annotation}}
    <p>Extends: <em>e-form-component-class</em></p>
    <p>The <code>e-horizontal-ruler</code> component is the horizontal-ruler component.</p>
  {{/freestyle-annotation}}

  {{#freestyle-usage 'e-horizontal-ruler' title='E-horizontal-ruler' usageTitle=labels.usage.title}}
    {{e-horizontal-ruler}}
  {{/freestyle-usage}}

{{/freestyle-subsection}}