<div class="{{defaultClassName}}__topline"></div>
<div class="container">
  <h2 class="{{defaultClassName}}__title">{{title}}</h2>
  <img class="{{defaultClassName}}__logo" src="assets/images/logo-movento.png" alt="logo">
</div>
