<div class="{{bemBlockName}}__topline"></div>
<div class="container">
  <h2 class="{{bemBlockName}}__title">{{title}}</h2>
  <img class="{{bemBlockName}}__logo" src="assets/images/logo-movento.png" alt="logo">
</div>
