{{! template-lint-disable }}
<!-- disable all rules -->
{{#freestyle-subsection name='Welcome' section=section}}

  {{#freestyle-annotation}}
    <h2>Living Styleguide</h2>

    <h2>Information</h2>
    <p>SCSS Autoprefixer</p>
    <p>We are using a Autoprefixer for vendor prefixes. So you don't have to care about vendor prefixes in writing css / scss.
      The config about browser support you can set in the ember-cli-build.js file in the root directory.</p>
    <ul>
      <li>Documentation (<a href="https://github.com/kimroen/ember-cli-autoprefixer">https://github.com/kimroen/ember-cli-autoprefixer</a>)</li>
      <li>Browser specification (<a href="https://github.com/ai/browserslist#queries">https://github.com/ai/browserslist#queries</a>)</li>
    </ul>
  {{/freestyle-annotation}}

{{/freestyle-subsection}}
