{{! template-lint-disable }}
<!-- disable all rules -->
{{#freestyle-subsection name='Welcome' section=section}}

  {{#freestyle-annotation}}
    <h2>Living Styleguide</h2>
  {{/freestyle-annotation}}

{{/freestyle-subsection}}
