{{! template-lint-disable }}
<!-- disable all rules -->
{{#freestyle-subsection name='e-icon' section=section}}

  {{#freestyle-annotation}}
    <p>Icon component is used with the svg-jar helper.</p>
    <p>save svg's in the folder assets/svg/inline for usage inline or in the folder assets/svg/symbol for using in a sprite</p>
    <p>Icon-guide: <a href="/ember-svg-jar/index.html">Link</a></p>
  {{/freestyle-annotation}}

{{/freestyle-subsection}}