<p><span class="slackchat">Feedback: <a href="https://movento.slack.com/archives/int_frontend" title="Slack">#int_frontend</a></span></p>
<p><span class="copyright">&copy; {{currentYear}} {{companyName}}</span></p>
{{yield}}
