
<h3>Product list</h3>
<p>A product list generates a list of products.</p>
<p>It depends on the c-product-tile and c-button components.</p>

{{#c-section-title}}Seasonal bestsellers{{/c-section-title}}
{{c-product-list products=products.items}}

{{yield}}