{{! disable all rules for this template }}
<!-- template-lint disable=true -->
{{#freestyle-subsection name='l-main-footer' section=section}}

  {{#freestyle-annotation}}
    <p>Standard Footer with Address and Phone Numbers</p>
  {{/freestyle-annotation}}

  {{#freestyle-usage 'l-main-footer' title='Default' jsTitle=labels.usage.js scssTitle=labels.usage.scss}}
    {{l-main-footer}}
  {{/freestyle-usage}}

{{/freestyle-subsection}}