{{! disable all rules for this template }}
<!-- template-lint disable=true -->
{{#freestyle-subsection name='l-main-footer' section=section}}

  {{#freestyle-annotation}}
    <p>Standard Footer with a two column layout, the dummy-data comes from translation-module (i18n)</p>
  {{/freestyle-annotation}}

  {{#freestyle-usage 'l-main-footer' title='Default'}}
    {{l-main-footer}}
  {{/freestyle-usage}}

{{/freestyle-subsection}}