<h1>Ember Sandbox</h1>
<nav>
    <ul>
        <li>{{#link-to "index"}}Index{{/link-to}}</li>
        <li>{{#link-to "styleguide-manual"}}Styleguide (manually maintained){{/link-to}}
            <ul>
                {{#each navService.links as |link|}}
                <li>{{#link-to link.url}}{{link.label}}{{/link-to}}</li>
                {{/each}}
            </ul>
        </li>
        <li>{{#link-to "styleguide-freestyle"}}Styleguide (Freestyle addon){{/link-to}}</li>
    </ul>
</nav>
{{yield}}