<nav>
    <ul>
        <li>{{#link-to "index"}}Index{{/link-to}}</li>
        <li>{{#link-to "styleguide-manual"}}Styleguide (manually maintained){{/link-to}}
            <ul>
                <li>{{#link-to "styleguide-manual.buttons"}}Buttons{{/link-to}}</li>
                <li>{{#link-to "styleguide-manual.sections"}}Sections{{/link-to}}</li>
                <li>{{#link-to "styleguide-manual.products"}}Products{{/link-to}}</li>
            </ul>
        </li>
    </ul>
</nav>
{{yield}}