h1,
h1.e-heading {
  font-size: 2em;
  line-height: 1.45;
  margin-top: 0.33em;
  margin-bottom: 0.5em;
}

h2,
h2.e-heading {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

h3,
h3.e-heading {
  font-family: $font-family-bold;
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

h4,
h4.e-heading {
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

h5,
h5.e-heading {
  font-size: 0.8em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

h6,
h6.e-heading {
  font-size: 0.6em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.e-heading {

  &--error {
    color: $color-status-failed;
  }

  &--warning {
    color: $color-status-warning;
  }

  &--success {
    color: $color-status-success;
  }

  &--info {
    color: $color-primary-dark;
  }
}
