{{! template-lint-disable }}
<!-- disable all rules -->
{{#section.subsection name='alignment'}}

  {{#freestyle-annotation}}
    <h4>Alignment classes</h4>
    <ul>
      <li>.align--left</li>
      <li>.align--center</li>
      <li>.align--right</li>
    </ul>
  {{/freestyle-annotation}}

  {{#freestyle-usage 'alignment' title='alignment examples' usageTitle=labels.usage.title scssTitle=labels.usage.scss}}
    <div style="border: 1px solid black">
      <div class="align--left">
        {{#e-button}}Button{{/e-button}}
      </div>
      <div class="align--center">
        {{#e-button}}Button{{/e-button}}
      </div>
      <div class="align--right">
        {{#e-button}}Button{{/e-button}}
      </div>
    </div>
  {{/freestyle-usage}}

{{/section.subsection}}