.e-select {
  @include c-form-control;
  background-color: $color-gray-white-opacity-light;
  padding-right: 30px;

  //Removes the standard icon on IE 10+
  &::-ms-expand {
    display: none;
  }

  &:not([multiple]) {
    min-height: 2em;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-progress-appearance: none;
    background: $color-gray-white-opacity-light url('./svg/inline/icon_arrow-down--dark.svg') no-repeat right 0.5em center;
    background-size: 1.2em;
  }

  &--state-success {
    border-color: $color-status-success;
  }

  &--state-warning {
    border-color: $color-status-warning;
  }

  &--state-error {
    border-color: $color-status-failed;
  }
}

.e-select--state-default {
  &.e-select--layout-default[disabled],
  &.e-select--layout-nested[disabled],
  &.e-select--layout-vertical[disabled],
  &.e-select--layout-horizontal[disabled] {
    border: 2px solid $color-gray-light;
    min-height: 2em;

    &:not([multiple]) {
      background: $color-gray-white-opacity-heavy url('./svg/inline/icon_arrow-down--light.svg') no-repeat right 0.5em center;
      background-size: 1.2em;
    }
  }
}

.e-select--layout-horizontal {
  min-width: 25%;
}

.e-select--layout-vertical,
.e-select--layout-nested,
.e-select--layout-default {
  width: 100%;
}
