$font-family-light: 'Helvetica';
$font-family-regular: 'Helvetica';
$font-family-bold: 'Helvetica';

$font-size-small: 14px;
$font-size-base: 16px;
$font-size-large: 18px;

html {
  font-family: $font-family-regular;
}
