.c-image-slider {
  display: block;
  width: 100%;

  .swiper-pagination-bullet-active {
    background: $color-primary-dark;
  }

  .swiper-button-next,
  .swiper-button-prev {
    background-size: 40px;
  }

  .swiper-button-next {
    background-image: url('svg/symbol/demo_i-next.svg');
  }

  .swiper-button-prev {
    background-image: url('svg/symbol/demo_i-back.svg');
  }
}
