.c-error-page {
  display: block;
  width: 100%;
  text-align: center;
  padding: 50px;

  &__error-code {
    font-size: 10em;
    font-weight: $font-weight-bold;
  }

  &__sub-title {
    font-size: 1.5em;
  }

  &__description {
    font-size: 1.5em;
  }

  &__image {
    margin-left: 35%;
    width: 30%;
    margin-top: $spacing--20;
    margin-bottom: $spacing--20;

    img {
      width: 100%;
    }
  }

  &__button {
    margin-top: $spacing--20;
  }
}
