{{#l-default}}
  <h1>test-page</h1>
  <p>This is a simple test page.</p>

  <h2>c-test-component integration via ember-island</h2>
  <div
      data-component='c-test-component'
      data-attrs='{"name": "Sally User", "id": "4"}'>
    <p>Sally likes hiking in the wilderness</p>

  </div>


  {{outlet}}
{{/l-default}}