{{! template-lint-disable }}
<!-- disable all rules -->
{{#freestyle-subsection name='e-panel' section=section}}

  {{#freestyle-annotation}}
    <p>Panel component</p>
    <h4>Attributes</h4>
    <dl>
      <dt><code>state</code> (String)</dt>
      <dd>"default", "success", "error", defines the border-color</dd>
      <dt><code>shadow</code> (Boolean)</dt>
      <dd>gives the panel a border-shadow</dd>
      <dt><code>border</code> (String)</dt>
      <dd>"thin", "big", border-size</dd>
      <dt><code>bigPaddingFlanks</code> (Boolean)</dt>
      <dd>Gives the panel a bigger padding left and right</dd>
      <dt><code>insideScroll</code> (Boolean)</dt>
      <dd>Defines if it's horizontal-scroll inside the panel is allowed</dd>
      <dt><code>scrollWidthPerClick</code> (Number)</dt>
      <dd>value for scrolling-steps (in pixel)</dd>
      <dt><code>inline</code> (Boolean)</dt>
      <dd>inline true makes the panel not full-width</dd>
      <dt><code>inlineSmUp</code> (Boolean)</dt>
      <dd>same like inline but only for viewports sm-up</dd>
      <dt><code>spacingRight</code> (Boolean)</dt>
      <dd>gives the panel a margin-right of 30px</dd>
      <dt><code>headingIncluded</code> (Boolean)</dt>
      <dd>shows the title inside Panel</dd>
      <dt><code>title</code> (String)</dt>
      <dd>Title which is visible inside the panel</dd>
      <dt><code>tagNameTitle</code> (String)</dt>
      <dd>"h1","h2",..., defines the tagName for the title</dd>
      <dt><code>titleState</code> (String)</dt>
      <dd>shows the title in one of the defined colors, values "default", "error", "warning", "success", "info"</dd>
      <dt><code>backgroundColor</code> (String)</dt>
      <dd>"transparent", "primary-glass", "primary-light", "primary-dark" gives the panel a class with the color, have to be defined in scss-file!</dd>
    </dl>
  {{/freestyle-annotation}}

  {{#freestyle-collection title='e-panel states' defaultKey='all' inline=false as |collection|}}

    {{#freestyle-variant collection=collection key='default'}}
      {{#freestyle-usage 'e-panel-default' title='e-panel-default' usageTitle=labels.usage.title}}
        {{#e-panel}}
          default
        {{/e-panel}}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='success'}}
      {{#freestyle-usage 'e-panel-success' title='e-panel-success' usageTitle=labels.usage.title}}
        {{#e-panel
          state="success"
        }}
          success
        {{/e-panel}}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='warning'}}
      {{#freestyle-usage 'e-panel-warning' title='e-panel-warning' usageTitle=labels.usage.title}}
        {{#e-panel
          state="warning"
        }}
          warning
        {{/e-panel}}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='error'}}
      {{#freestyle-usage 'e-panel-error' title='e-panel-error' usageTitle=labels.usage.title}}
        {{#e-panel
          state="error"
        }}
          error
        {{/e-panel}}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

  {{/freestyle-collection}}



  {{#freestyle-collection title='e-panel styles' defaultKey='all' inline=false as |collection|}}

    {{#freestyle-variant collection=collection key='thin'}}
      {{#freestyle-usage 'e-panel-style-thin' title='e-panel-style-thin' usageTitle=labels.usage.title}}
        {{#e-panel
          border="thin"
        }}
          border thin
        {{/e-panel}}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='big'}}
      {{#freestyle-usage 'e-panel-style-big' title='e-panel-style-big' usageTitle=labels.usage.title}}
        {{#e-panel
          border="big"
        }}
          border big
        {{/e-panel}}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='no border'}}
      {{#freestyle-usage 'e-panel-no-border' title='e-panel-no-border' usageTitle=labels.usage.title}}
        {{#e-panel
          border="noborder"
        }}
          Border no-border
        {{/e-panel}}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='shadow'}}
      {{#freestyle-usage 'e-panel-style-shadow' title='e-panel-style-shadow' usageTitle=labels.usage.title}}
        {{#e-panel
          shadow=true
        }}
          shadow
        {{/e-panel}}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

  {{/freestyle-collection}}



  {{#freestyle-collection title='e-panel specials' defaultKey='all' inline=false as |collection|}}

    {{#freestyle-variant collection=collection key='inline'}}
      {{#freestyle-usage 'e-panel-inline' title='e-panel-inline' usageTitle=labels.usage.title}}
        {{#e-panel
          inline=true
        }}
          Inline
        {{/e-panel}}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='inline-sm-up'}}
      {{#freestyle-usage 'e-panel-inline-sm-up' title='e-panel-inline-sm-up' usageTitle=labels.usage.title}}
        {{#e-panel
          inlineSmUp=true
        }}
          Inline (only viepwort sm-up)
        {{/e-panel}}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='inline-spacing-right'}}
      {{#freestyle-usage 'e-panel-inline-spacing-right' title='e-panel-inline-spacing-right' usageTitle=labels.usage.title}}
        {{#e-panel
        spacingRight=true
        inline=true
        }}
          Inline Panel A
        {{/e-panel}}
        {{#e-panel
          spacingRight=true
          inline=true
        }}
          Inline Panel B
        {{/e-panel}}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='title'}}
      {{#freestyle-usage 'e-panel-title' title='e-panel-title' usageTitle=labels.usage.title}}
        {{#e-panel
          headingIncluded=true
          tagNameTitle="h2"
          title="I'm the heading of this panel"
        }}
          Content....
        {{/e-panel}}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='inline-scroll'}}
      {{#freestyle-usage 'e-panel-inline-scroll' title='e-panel-inline-scroll' usageTitle=labels.usage.title}}
        {{#e-panel
          border="thin"
          insideScroll=true
          scrollWidthPerClick=300
        }}
          Content....Content....Content....Content....Content....Content....Content....Content....<br>
          Content....Content....Content....Content....Content....Content....Content....Content....<br>
          Content....Content....Content....Content....Content....Content....Content....Content....<br>
          Content....Content....Content....Content....Content....Content....Content....Content....
        {{/e-panel}}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='bigPaddingFlanks'}}
      {{#freestyle-usage 'e-panel-bigPaddingFlanks' title='e-panel-bigPaddingFlanks' usageTitle=labels.usage.title}}
        {{#e-panel
          bigPaddingFlanks=true
        }}
          Content....
        {{/e-panel}}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

  {{/freestyle-collection}}



  {{#freestyle-collection title='e-panel background-colors' defaultKey='all' inline=false as |collection|}}

    {{#freestyle-variant collection=collection key='transparent (default)'}}
      {{#freestyle-usage 'e-panel-transparent' title='e-panel-transparent' usageTitle=labels.usage.title}}
        {{#e-panel
          backgroundColor="transparent"
        }}
          transparent (default)
        {{/e-panel}}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='primary-dark'}}
      {{#freestyle-usage 'e-panel-primary-dark' title='e-panel-primary-dark' usageTitle=labels.usage.title}}
        {{#e-panel
          backgroundColor="primary-dark"
        }}
          primary-dark
        {{/e-panel}}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='primary-light'}}
      {{#freestyle-usage 'e-panel-primary-light' title='e-panel-primary-light' usageTitle=labels.usage.title}}
        {{#e-panel
          backgroundColor="primary-light"
        }}
          primary-light
        {{/e-panel}}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='gray-light'}}
      {{#freestyle-usage 'e-panel-gray-light' title='e-panel-gray-light' usageTitle=labels.usage.title}}
        {{#e-panel
          backgroundColor="gray-light"
        }}
          gray-light
        {{/e-panel}}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

  {{/freestyle-collection}}

{{/freestyle-subsection}}