{{! disable all rules for this template }}
<!-- template-lint disable=true -->
{{#freestyle-subsection name='e-panel' section=section}}

  {{#freestyle-annotation}}
    <p>Panel component</p>
    <h4>Attributes</h4>
    <dl>
      <dt><code>state</code> (String)</dt>
      <dd>"default", "success", "error", defines the border-color</dd>
      <dt><code>shadow</code> (Boolean)</dt>
      <dd>gives the panel a border-shadow</dd>
      <dt><code>border</code> (String)</dt>
      <dd>"thin", "big", border-size</dd>
      <dt><code>bigPaddingFlanks</code> (Boolean)</dt>
      <dd>Gives the panel a bigger padding left and right</dd>
      <dt><code>insideScroll</code> (Boolean)</dt>
      <dd>Defines if it's horizontal-scroll inside the panel is allowed</dd>
      <dt><code>scrollWidthPerClick</code> (Number)</dt>
      <dd>value for scrolling-steps (in pixel)</dd>
      <dt><code>inline</code> (Boolean)</dt>
      <dd>inline true makes the panel not full-width</dd>
      <dt><code>inlineSmUp</code> (Boolean)</dt>
      <dd>same like inline but only for viewports sm-up</dd>
      <dt><code>spacingRight</code> (Boolean)</dt>
      <dd>gives the panel a margin-right of 30px</dd>
      <dt><code>headingIncluded</code> (Boolean)</dt>
      <dd>shows the title inside Panel</dd>
      <dt><code>title</code> (String)</dt>
      <dd>Title which is visible inside the panel</dd>
      <dt><code>tagNameTitle</code> (String)</dt>
      <dd>"h1","h2",..., defines the tagName for the title</dd>
      <dt><code>titleState</code> (String)</dt>
      <dd>shows the title in one of the defined colors, values "default", "error", "warning", "success", "info"</dd>
      <dt><code>backgroundColor</code> (String)</dt>
      <dd>"transparent", "primary-glass", "primary-light", "primary-dark" gives the panel a class with the color, have to be defined in scss-file!</dd>
    </dl>
  {{/freestyle-annotation}}

  {{#freestyle-collection title='e-panel states' defaultKey='all' inline=false as |collection|}}

    {{#freestyle-variant collection=collection key='default'}}
      {{#freestyle-usage 'e-panel-default' title='e-panel-default' usageTitle=labels.usage.title jsTitle=labels.usage.js scssTitle=labels.usage.scss}}
        {{#e-panel}}
          default
        {{/e-panel}}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='success'}}
      {{#freestyle-usage 'e-panel-success' title='e-panel-success' usageTitle=labels.usage.title}}
        {{#e-panel
        state="success"}}
          success
        {{/e-panel}}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='error'}}
      {{#freestyle-usage 'e-panel-error' title='e-panel-error' usageTitle=labels.usage.title}}
        {{#e-panel
        state="error"}}
          error
        {{/e-panel}}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

  {{/freestyle-collection}}

  <div class="FreestyleSubsection-name">Shadow</div>

  {{#freestyle-collection title='e-panel shadows' defaultKey='all' inline=false as |collection|}}

    {{#freestyle-variant collection=collection key='shadow-and-default'}}
      {{#freestyle-usage 'e-panel-shadow-default' title='e-panel-shadow' usageTitle=labels.usage.title}}
        {{#e-panel
        shadow=true}}
          shadow & state default
        {{/e-panel}}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='shadow-and-success'}}
      {{#freestyle-usage 'e-panel-shadow-success' title='e-panel-shadow' usageTitle=labels.usage.title}}
        {{#e-panel
          shadow=true
          state="success"
        }}
          shadow & state success
        {{/e-panel}}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='shadow-and-error'}}
      {{#freestyle-usage 'e-panel-shadow-error' title='e-panel-shadow' usageTitle=labels.usage.title}}
        {{#e-panel
        shadow=true
        state="error"
        }}
          shadow & state error
        {{/e-panel}}
      {{/freestyle-usage}}
    {{/freestyle-variant}}



    {{#freestyle-variant collection=collection key='shadow-and-default-big-content'}}
      <div class="FreestyleSubsection-name">Big content</div>
      {{#freestyle-usage 'e-panel-shadow-default-big-content' title='e-panel-shadow' usageTitle=labels.usage.title}}
        {{#e-panel
        shadow=true
        border="big"}}
          shadow & state default
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget vestibulum ante, ac dapibus augue.
            Nulla ornare turpis sit amet ultrices pulvinar. Proin quis efficitur arcu. Nam ac dictum mi. Proin eleifend
            lit vulputate massa imperdiet, id gravida neque convallis. Phasellus bibendum dui ac diam suscipit
            convallis. Phasellus vel dapibus tortor. Morbi at mi at erat cursus euismod.
          </p>
          <p>
            Vestibulum neque diam, egestas vel ex non, aliquam accumsan eros. Integer venenatis leo quis purus ornare
            fringilla. Vivamus vitae erat erat. Vestibulum efficitur malesuada nulla, non pretium nunc pellentesque ac.
            Cras varius sodales felis et venenatis. Quisque imperdiet, augue id malesuada pharetra, nibh justo maximus
            urna, sit amet tincidunt arcu diam mollis urna. Nullam eu quam quam. Duis nisl nulla, aliquam sed euismod a,
            dapibus id nulla. Vestibulum varius placerat purus, ut scelerisque arcu consectetur a. Morbi eget dui eget
            massa vehicula faucibus non sit amet est. Etiam ac vulputate elit, et tempor nisl.
          </p>
        {{/e-panel}}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

  {{/freestyle-collection}}

  <div class="FreestyleSubsection-name">Border-styles</div>
  {{#freestyle-collection title='e-panel border-states' defaultKey='all' inline=false as |collection|}}

    {{#freestyle-variant collection=collection key='default-thin'}}
      {{#freestyle-usage 'e-panel-default-thin' title='e-panel-default-thin' usageTitle=labels.usage.title}}
        {{#e-panel
          border="thin"}}
          Border "thin"
        {{/e-panel}}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='default-big'}}
      {{#freestyle-usage 'e-panel-default-big' title='e-panel-default-big' usageTitle=labels.usage.title}}
        {{#e-panel
          border="big"}}
          Border "big"
        {{/e-panel}}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='default-inline'}}
      {{#freestyle-usage 'e-panel-default-inline' title='e-panel-default-inline' usageTitle=labels.usage.title}}
        {{#e-panel
        border="thin"
        inline=true}}
          Border "inline"
        {{/e-panel}}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='default-inline-sm-up'}}
      {{#freestyle-usage 'e-panel-default-inline-sm-up' title='e-panel-default-inline-sm-up' usageTitle=labels.usage.title}}
        {{#e-panel
        border="thin"
        inlineSmUp=true}}
          Border "inline" (only viepwort sm-up)
        {{/e-panel}}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='default-inline-spacing-right'}}
      {{#freestyle-usage 'e-panel-default-inline-spacing-right' title='e-panel-default-inline-spacing-right' usageTitle=labels.usage.title}}
        {{#e-panel
        border="thin"
        spacingRight=true
        inline=true}}
          Border "inline"
        {{/e-panel}}
        {{#e-panel
        border="thin"
        spacingRight=true
        inline=true}}
          Border "inline"
        {{/e-panel}}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='default-noborder'}}
      {{#freestyle-usage 'e-panel-default-noborder' title='e-panel-default-noborder' usageTitle=labels.usage.title}}
        {{#e-panel
        border="noborder"}}
          Border "noborder"
        {{/e-panel}}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

  {{/freestyle-collection}}

  <div class="FreestyleSubsection-name">Title</div>
  {{#freestyle-collection title='e-panel title' defaultKey='all' inline=false as |collection|}}

    {{#freestyle-variant collection=collection key='default-with-title'}}
      {{#freestyle-usage 'e-panel-default-with-title' title='e-panel-default-with-title' usageTitle=labels.usage.title}}
        {{#e-panel
        border="thin"
        headingIncluded=true
        title="I'm the heading of this panel"}}
          Content....
        {{/e-panel}}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='default-with-title-color'}}
      {{#freestyle-usage 'e-panel-default-with-title-color' title='e-panel-default-with-title-color' usageTitle=labels.usage.title}}
        {{#e-panel
        border="thin"
        headingIncluded=true
        tagNameTitle="h2"
        titleColored=true
        title="I'm the heading of this panel"}}
          Content....
        {{/e-panel}}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

  {{/freestyle-collection}}

  <div class="FreestyleSubsection-name">Inside-scroll</div>
  {{#freestyle-collection title='e-panel title' defaultKey='all' inline=false as |collection|}}

    {{#freestyle-variant collection=collection key='default-inline-scroll'}}
      {{#freestyle-usage 'e-panel-default-inline-scroll' title='e-panel-default-inline-scroll' usageTitle=labels.usage.title}}
        {{#e-panel
          border="thin"
          insideScroll=true
          scrollWidthPerClick=300
        }}
          Content....Content....Content....Content....Content....Content....Content....Content....<br/>
          Content....Content....Content....Content....Content....Content....Content....Content....<br/>
          Content....Content....Content....Content....Content....Content....Content....Content....<br/>
          Content....Content....Content....Content....Content....Content....Content....Content....
        {{/e-panel}}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

  {{/freestyle-collection}}

{{/freestyle-subsection}}