{{#l-default-page}}
<div class="container-fluid">
  <div class="col-md-3">
    {{g-nav-views title="Menu"}}
  </div>
  <div class="col-md-9">
    <h1>Documentation</h1>
    <p>The <em>/README.md</em> document is a required read in this project to learn about how to work with it.</p>
    {{outlet}}
  </div>
</div>
{{/l-default-page}}