{{! template-lint-disable }}
<!-- disable all rules -->
{{#section.subsection name="z-index-stack"}}

  {{#freestyle-annotation}}
    <h4>Variables</h4>
    <p>Use this variables bellow for define a z-index (recommended for every absolute positioned element)</p>
    <p>Be sure you have the "Code" visible in styleguide to see the variables.</p>
  {{/freestyle-annotation}}

  {{#freestyle-usage "z-index-stack" title="z-index-stack" scssTitle=labels.usage.scss}}
  {{/freestyle-usage}}

{{/section.subsection}}