<header>
    <nav>
        <ul>
            <li>{{#link-to "index"}}Index{{/link-to}}</li>
            <li>{{#link-to "styleguide-manual"}}Styleguide (manual maintained){{/link-to}}</li>
        </ul>
    </nav>
</header>
<hr />
{{outlet}}
<hr />
<footer>
    <i><small>EMBER SANDBOX 2016</small></i>
</footer>