<div class="navbar navbar-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <nav class="nav-primary">
          {{#link-to 'index'}}Ember SandBox{{/link-to}}
        </nav>
      </div>
    </div>
</div>