$e-input-radio-border: 2px solid $color-gray-white;
$e-input-radio-size: 1em;

@mixin e-input-radio-shadow ($border-size, $color){
  -webkit-box-shadow: 0 0 0 $border-size $color;
  -moz-box-shadow: 0 0 0 $border-size $color;
  box-shadow: 0 0 0 $border-size $color;
}

.e-input-radio {
  @include c-form-control;
  display: none;
}

.e-input-radio__fake-radio {
  position: relative;
  content: '';
  vertical-align: middle;
  border-radius: 50%;
  @include e-input-radio-shadow(2px, $color-gray-light);
  border: $e-input-radio-border;
  background: $color-gray-white;
  display: inline-block;
  width: $e-input-radio-size;
  height: $e-input-radio-size;
  cursor: pointer;
}

.e-input-radio:checked + .e-input-radio__fake-radio {
  background: $color-primary-dark;
}

.e-input-radio[disabled] + .e-input-radio__fake-radio {
  cursor: default;
}

.e-input-radio[disabled]:checked + .e-input-radio__fake-radio {
  background: $color-gray-dark;
}

// ---------------------------------------------------
// Special Styling for Radios who look like buttons
// ---------------------------------------------------
.e-input-radio__fake-radio--noinput {
  border: 0;
  border-radius: 1.5px;
  @include e-input-radio-shadow(2px, $color-primary-dark);
  color: $color-primary-dark;
  min-width: 7em;
  height: 2em;
  text-align: center;
  padding: 0.5em;
  margin-right: $spacing--0;
  width: 100%;

  @media #{$media-screen-xs-min} {
    width: auto;
  }
}

.e-input-radio__fake-radio--grid {
  min-width: 0;
  width: 100%;
}

.e-input-radio:checked + .e-input-radio__fake-radio--noinput {
  background: $color-primary-dark;
  color: $color-gray-white;
}

.e-input-radio[disabled] + .e-input-radio__fake-radio--noinput {
  @include e-input-radio-shadow(2px, $color-gray-light);
  color: $color-gray-light;
  cursor: default;
}

.e-input-radio[disabled]:checked + .e-input-radio__fake-radio--noinput {
  background: $color-gray-light;
  color: $color-gray-white;
}
